input {
  beats {
    port => 5044
  }
}

output {
  elasticsearch {
    hosts => ["http://{{ es_host1_ip }}:9200","http://{{ es_host2_ip }}:9200","http://{{ es_host3_ip }}:9200"]
    index => "%{[@metadata][beat]}-%{[@metadata][version]}-%{+YYYY.MM.dd}"
  }
}
