# This file describes the network interfaces available on your system
# For more information, see netplan(5).
network:
  version: 2
  renderer: networkd
  ethernets:
    ens33:
      dhcp4: no
      addresses: 
        - {{ ansible_ens33.ipv4.address }}/24
      gateway4: {{ default_gateway }}
      nameservers:
        addresses:
          - {{ master_nameserver }}
          - {{ backup_nameserver }}
    ens34:
      dhcp4: no
