[DEFAULT]

log_dir = /var/log/keystone
bind_host = {{ ansible_eno3.ipv4.address }}
public_bind_host = {{ ansible_eno3.ipv4.address }}
admin_bind_host = {{ ansible_eno3.ipv4.address }}

[database]

connection = mysql+pymysql://keystone:{{ keystone_dbpass }}@{{ os_controller_vip }}/keystone

[extra_headers]

Distribution = Ubuntu

[token]

provider = fernet
