PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix-agent/zabbix_agentd.log
LogFileSize=0
Server={{ zabbix_proxy2_address }}
ServerActive={{ zabbix_proxy2_active }}
Hostname={{ ansible_hostname }}
Include=/etc/zabbix/zabbix_agentd.conf.d/*.conf
UnsafeUserParameters=1
