[DEFAULT]

lock_path = /var/lock/nova
state_path = /var/lib/nova
transport_url = rabbit://{{ rabbit_cluster }}
my_ip = {{ ansible_eno3.ipv4.address }}
use_neutron = true
firewall_driver = nova.virt.firewall.NoopFirewallDriver

[api]

auth_strategy = keystone

[glance]

api_servers = http://{{ os_controller_vip }}:9292

[keystone_authtoken]

auth_url = http://{{ os_controller_vip }}:5000/v3
memcached_servers = {{ os_memcached_servers }}
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = nova
password = {{ nova_pass }}
token_cache_time = {{ keystone_token_cache_time }}

[libvirt]

rbd_user = {{ ceph_rbd_user }}
rbd_secret_uuid = {{ secret_uuid }}
images_type = rbd
images_rbd_pool = {{ vms_rbd_pool }}
images_rbd_ceph_conf = /etc/ceph/ceph.conf
hw_disk_discard = unmap
disk_cachemodes = "network=writeback"
inject_password = false
inject_key = false
inject_partition = -2
live_migration_flag = "VIR_MIGRATE_UNDEFINE_SOURCE,VIR_MIGRATE_PEER2PEER,VIR_MIGRATE_LIVE,VIR_MIGRATE_PERSIST_DEST,VIR_MIGRATE_TUNNELLED"

[neutron]

url = http://{{ os_controller_vip }}:9696
auth_url = http://{{ os_controller_vip }}:5000
auth_type = password
project_domain_name = default
user_domain_name = default
region_name = RegionOne
project_name = service
username = neutron
password = {{ neutron_pass }}

[oslo_concurrency]

lock_path = /var/lib/nova/tmp

[oslo_messaging_rabbit]

rabbit_retry_interval = 1
rabbit_retry_backoff = 2
rabbit_max_retries = 0
rabbit_durable_queues = true
rabbit_ha_queues = true

[placement]

region_name = RegionOne
project_domain_name = Default
project_name = service
auth_type = password
user_domain_name = Default
auth_url = http://{{ os_controller_vip }}:5000/v3
username = placement
password = {{ placement_pass }}

[vnc]

enabled = true
server_listen = $my_ip
server_proxyclient_address = $my_ip
novncproxy_base_url = http://{{ os_controller_vip }}:6080/vnc_auto.html
