global_defs {
    notification_email {
        root@localhost
    }
    notification_email_from root@localhost
    smtp_server 127.0.0.1
    smtp_connect_timeout 30
    router_id LVS_DEVEL
}

vrrp_instance VI_1 {
    state BACKUP
    interface {{ vrrp_interface }}
    virtual_router_id 51
    priority {{ node_priority }}
    nopreempt
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{ vrrp_auth_pass }}
    }
    virtual_ipaddress {
        {{ vrrp_vip }} dev {{ vrrp_interface }}
    }
    track_interface {
        {{ vrrp_interface }}
    }
	notify_master "/etc/keepalived/mail_notify.py master"
	notify_backup "/etc/keepalived/mail_notify.py backup"
	notify_fault "/etc/keepalived/mail_notify.py fault"
}

virtual_server {{ vrrp_vip }} 80 {
    delay_loop 6
    lb_algo rr
    lb_kind DR
    persistence_timeout 50
    protocol TCP

    real_server {{ edge_node1 }} 80 {
        weight 1
        TCP_CHECK {
            connect_timeout 3
            delay_before_retry 3
            retry 3
            connect_port 80
        }
    }
    real_server {{ edge_node2 }} 80 {
        weight 1
        TCP_CHECK {
            connect_timeout 3
            delay_before_retry 3
            retry 3
            connect_port 80
        }
    }
}

virtual_server {{ vrrp_vip }} 443 {
    delay_loop 6
    lb_algo rr
    lb_kind DR
    persistence_timeout 50
    protocol TCP

    real_server {{ edge_node1 }} 443 {
        weight 1
        TCP_CHECK {
            connect_timeout 3
            delay_before_retry 3
            retry 3
            connect_port 443
        }
    }
    real_server {{ edge_node2 }} 443 {
        weight 1
        TCP_CHECK {
            connect_timeout 3
            delay_before_retry 3
            retry 3
            connect_port 443
        }
    }
}
