{
  "CN": "system:node:{{ kube_master_3 }}",
  "hosts": [
    "{{ kube_master_3 }}",
    "{{ kube_master_3_ip }}"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "CN",
      "L": "ShenZhen",
      "ST": "ShenZhen",
      "O": "system:nodes",
      "OU": "Kubernetes-manual"
    }
  ]
}
