## global
global
        log /dev/log    local0
        log /dev/log    local1 notice
        chroot /var/lib/haproxy
        stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
        stats timeout 30s
        user haproxy
        group haproxy
        daemon
        maxconn 10000

## defaults
defaults
        log     global
        mode    http
        option  dontlognull
        timeout connect 10000
        timeout client  60000
        timeout server  60000
        errorfile 400 /etc/haproxy/errors/400.http
        errorfile 403 /etc/haproxy/errors/403.http
        errorfile 408 /etc/haproxy/errors/408.http
        errorfile 500 /etc/haproxy/errors/500.http
        errorfile 502 /etc/haproxy/errors/502.http
        errorfile 503 /etc/haproxy/errors/503.http
        errorfile 504 /etc/haproxy/errors/504.http

## haproxy status
listen haproxy_status
        mode http
        bind 0.0.0.0:1080
        stats enable
        stats hide-version
        stats uri /
        stats realm Haproxy\ Statistics
        stats auth {{ haproxy_admin_user }}:{{ haproxy_admin_pass }}
        stats admin if TRUE
        stats refresh 60s

## mariadb cluster
listen os_mariadb
        mode tcp
        bind {{ os_controller_vip }}:3306
        balance source
        option tcpka
        option httpchk
        option tcplog
        server controller1 {{ os_controller_node_1 }}:3306 backup check port {{ mariadb_health_check_port }} inter 6000 rise 2 fall 5
        server controller2 {{ os_controller_node_2 }}:3306 check port {{ mariadb_health_check_port }} inter 6000 rise 2 fall 5
        server controller3 {{ os_controller_node_3 }}:3306 backup check port {{ mariadb_health_check_port }} inter 6000 rise 2 fall 5

## keystone api
listen os_keystone_api
        bind {{ os_controller_vip }}:5000
        balance source
        option tcpka
        option httpchk
        option tcplog
        server controller1 {{ os_controller_node_1 }}:5000 check inter 6000 rise 2 fall 5
        server controller2 {{ os_controller_node_2 }}:5000 check inter 6000 rise 2 fall 5
        server controller3 {{ os_controller_node_3 }}:5000 check inter 6000 rise 2 fall 5

## glance api
listen os_glance_api
        bind {{ os_controller_vip }}:9292
        balance source
        option tcpka
        option httpchk
        option tcplog
        server controller1 {{ os_controller_node_1 }}:9292 check inter 6000 rise 2 fall 5
        server controller2 {{ os_controller_node_2 }}:9292 check inter 6000 rise 2 fall 5
        server controller3 {{ os_controller_node_3 }}:9292 check inter 6000 rise 2 fall 5

## placement api
listen os_placement_api
        bind {{ os_controller_vip }}:8778
        balance source
        option tcpka
        option tcplog
        server controller1 {{ os_controller_node_1 }}:8778 check inter 6000 rise 2 fall 5
        server controller2 {{ os_controller_node_2 }}:8778 check inter 6000 rise 2 fall 5
        server controller3 {{ os_controller_node_3 }}:8778 check inter 6000 rise 2 fall 5

## nova api       
listen os_nova_api
        bind {{ os_controller_vip }}:8774
        balance source
        option tcpka
        option httpchk
        option tcplog
        server controller1 {{ os_controller_node_1 }}:8774 check inter 6000 rise 2 fall 5
        server controller2 {{ os_controller_node_2 }}:8774 check inter 6000 rise 2 fall 5
        server controller3 {{ os_controller_node_3 }}:8774 check inter 6000 rise 2 fall 5

## nova metadata api       
listen os_nova_metadata_api
        mode tcp
        bind {{ os_controller_vip }}:8775
        balance source
        option tcpka
        option tcplog
        server controller1 {{ os_controller_node_1 }}:8775 check inter 6000 rise 2 fall 5
        server controller2 {{ os_controller_node_2 }}:8775 check inter 6000 rise 2 fall 5
        server controller3 {{ os_controller_node_3 }}:8775 check inter 6000 rise 2 fall 5

## nova vncproxy
listen os_nova_vncproxy
        bind {{ os_controller_vip }}:6080
        balance source
        option  tcpka
        option  tcplog
        server controller1 {{ os_controller_node_1 }}:6080 backup check inter 6000 rise 2 fall 5
        server controller2 {{ os_controller_node_2 }}:6080 backup check inter 6000 rise 2 fall 5
        server controller3 {{ os_controller_node_3 }}:6080 check inter 6000 rise 2 fall 5

## neutron api
listen os_neutron_api
        bind {{ os_controller_vip }}:9696
        balance source
        option tcpka
        option tcplog
        server controller1 {{ os_controller_node_1 }}:9696 check inter 6000 rise 2 fall 5
        server controller2 {{ os_controller_node_2 }}:9696 check inter 6000 rise 2 fall 5
        server controller3 {{ os_controller_node_3 }}:9696 check inter 6000 rise 2 fall 5

## cinder api
listen os_cinder_api
        bind {{ os_controller_vip }}:8776
        balance source
        option tcpka
        option httpchk
        option tcplog
        server controller1 {{ os_controller_node_1 }}:8776 check inter 6000 rise 2 fall 5
        server controller2 {{ os_controller_node_2 }}:8776 check inter 6000 rise 2 fall 5
        server controller3 {{ os_controller_node_3 }}:8776 check inter 6000 rise 2 fall 5

## openstack dashboard
listen os_dashboard
        bind {{ os_controller_vip }}:80
        balance source
        option tcpka
        option httpchk
        option tcplog
        server controller1 {{ os_controller_node_1 }}:80 backup check inter 6000 rise 2 fall 5
        server controller2 {{ os_controller_node_2 }}:80 backup check inter 6000 rise 2 fall 5
        server controller3 {{ os_controller_node_3 }}:80 check inter 6000 rise 2 fall 5

## end
