[Service]
Environment="KUBELET_KUBECONFIG_ARGS=--address={{ kubelet_bind_address }} --port={{ kubelet_bind_port }} --kubeconfig={{ kube_conf_dir }}/kubelet.conf"
#
Environment="KUBE_LOGTOSTDERR=--logtostderr=true --v={{ log_level }}"
#
Environment="KUBELET_POD_CONTAINER=--pod-infra-container-image={{ registry_server }}/{{ project }}/{{ pod_infra_container_image }}"
#
Environment="KUBELET_SYSTEM_PODS_ARGS=--pod-manifest-path={{ kube_manifests_dir }} --allow-privileged=true --anonymous-auth=false"
#
Environment="KUBELET_NETWORK_ARGS=--network-plugin=cni --cni-conf-dir={{ cni_conf_dir }} --cni-bin-dir={{ cni_bin_dir }}"
#
Environment="KUBELET_DNS_ARGS=--cluster-dns={{ cluster_dns }} --cluster-domain={{ cluster_domain }}"
#
Environment="KUBELET_AUTHZ_ARGS=--authorization-mode=WebhooK --client-ca-file={{ kube_pki_dir }}/ca.pem"
#
Environment="KUBELET_CADVISOR_ARGS=--cadvisor-port={{ cadvisor_port }}"
#
Environment="KUBELET_CERTIFICATE_ARGS=--rotate-certificates=true --cert-dir={{ kubelet_data_dir }}/pki"
#
Environment="KUBELET_EXTRA_ARGS=--fail-swap-on=false --serialize-image-pulls=false"
#
Environment="KUBE_NODE_LABEL=--node-labels=node-role.kubernetes.io/master=true"
#
ExecStart=
#
ExecStart={{ kube_bin_dir }}/kubelet $KUBELET_KUBECONFIG_ARGS $KUBE_LOGTOSTDERR $KUBELET_POD_CONTAINER $KUBELET_SYSTEM_PODS_ARGS $KUBELET_NETWORK_ARGS $KUBELET_DNS_ARGS $KUBELET_AUTHZ_ARGS $KUBELET_CADVISOR_ARGS $KUBELET_CERTIFICATE_ARGS $KUBELET_EXTRA_ARGS $KUBE_NODE_LABEL
