{
    "insecure-registries":["{{ insecure_registries }}"],
    "registry-mirrors": ["{{ registry_mirrors }}"],
    "data-root": "{{ data_root }}",
    "storage-driver": "{{ storage_driver }}"
}
